$white-color: #fff;
$baby-blue-color: #C7F7FF;
$teal-color: #89C0C9;
$dark-teal-color: #3a5E63;
$light-brown-color: #C9A689;
$dark-brown-color: #7C593C;
$black-color: #222;
$grey-color: #d4d4d4;
$another-white-color: rgba(255,255,255,0.8);


$font-family-1: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;
$font-family-2: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;